<footer class= "d-flex align-items-center">
  <div class= "container"> 
    <div class="row"> 
      <div class= "col d-flex align-items-center"> 
          <h2 class="mb-0">All rights reserved</h2>
      </div>
      <div class= "col">
        <div class="row">
          <div class= "col d-flex justify-content-end">
            <a href="#" title="Github-social-media">
              <img src="../icons/github.svg" alt="Github-social-media"/>
            </a>
          </div>
          <div class= "col d-flex justify-content-end">
            <a href="#" title="Twitter-social-media">
              <img src="../icons/twitter.svg" alt="Twitter-social-media" />
            </a>
          </div>
          <div class= "col d-flex justify-content-end">
            <a href="#" title="LinkedIn-social-media">
              <img src="../icons/linkedin.svg" alt="LinkedIn-social-media" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>
