<%if(locals.errors){%>
    <%errors.forEach((err)=>{%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p class="h5 message mb-0 pt-1"><%=  err.msg %></p>
            <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
    <%})%>
<%}%>

<% if(success_msg != ''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="h5 message mb-0 pt-1"><%= success_msg %></p>
        <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(error_msg != ''){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="h5 message mb-0 pt-1"><%= error_msg %></p>
        <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if(error != ''){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="h5 message mb-0 pt-1"><%= error %></p>
        <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
