<%- include('partials/header')%>
<main>
    <section>
        <div class="news-cards">
            <div class="news-card">
            <img src="/images/newaz.svg" alt="my-image">
                    <h2 class="h2 font-weight-bold">
                        Hey, I am Newaz.
                    </h2>
                    <p class="about-paragraph h3">I'm an aspiring <em> Software Developer</em></p>
                    <p class="about-paragraph h4 text-center font-weight-bold">I recently graduated with a B.S degree in Computer Science from University of California, Davis.
                     <br>   I love learning new technology and meeting new people through it. If you like making friends as much as I do, then let connect.
                    </p>
                </form>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer')%>
