<!DOCTYPE html>
<html lang="en">
<head>
  <title>News</title>
  <link rel="stylesheet" href="/stylesheets/auth.css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  </head>
<body>
    <div class="full-width d-flex justify-content-center align-items-center">
      <form action="/auth/login" class="p-5">
        <div class="success-message d-flex justify-content-center">
          <%if(success_msg != ''){%>
                <h1 class="h4">
                    <%=success_msg%>
                </h1>
            <%}%>
        </div>
        <div class="mb-3">
          <label for="emailAddress" class="form-label"></label>
          <input type="text" class= "form-control input-height" id="emailAddress" placeholder= "UserName or Email" size="30" required autofocus>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">
          </label>
          <input type="password" class= "form-control input-height inputPassword" id="password" placeholder= "Password" size="30" required autofocus autocomplete="current-password">
          <div class="mt-3 d-flex align-items-center"> 
            <input type="checkbox" id= "togglePassword"> 
            <h1 class="h5 mb-0 ps-2">Show Password</h1> 
          </div>
        </div>
        <!-- <div class="mb-3 form-check">
          <label for="remember" class= "remember-label d-flex justify-content-center">  
            <input type="checkbox" class="form-check-input me-2" id="remember">Remember Me
          </label>
        </div> -->
        <div class="pt-4 d-flex justify-content-center"> 
          <button class="btn btn-dark hero-button">Log in</button>
        </div>
        <div class="mt-5 d-flex justify-content-center">
          <h5>Not a user? <a href="/auth/signup">Sign up</a></h5>
        </div>
      </form>
    </div>
</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src= "/javascripts/index.js"></script>
</html>
